@import 'react-toastify/ReactToastify.css';
@import "./custom/custom.css";
@import "./custom/layout.css";

@import "tailwindcss";
@import "./tailwind/base.css";
@import "./tailwind/components.css";
@import "./tailwind/utilities.css";

@config "../../tailwind.config.js";
@plugin "daisyui";
@theme {
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #312e81;
  --color-dark: #222222;
  --color-divider: #e5e7eb;
}

@source inline("input-{xs,sm,md,lg}");
@source inline("select-{xs,sm,md,lg}");
@source inline("join-{xs,sm,md,lg}");
@source inline("toggle-{xs,sm,md,lg}");
