/*h2 {*/
/*  position: relative;*/
/*}*/

/*h2::before {*/
/*  content: '';*/
/*  width: 20px;*/
/*  height: 2px;*/
/*  bottom: 0;*/
/*  left: -6px;*/
/*  background: var(--color-primary-500);*/
/*  position: absolute;*/
/*}*/

/*h2::after {*/
/*  content: '';*/
/*  width: 2px;*/
/*  height: 20px;*/
/*  bottom: 0;*/
/*  left: -6px;*/
/*  background: var(--color-primary-500);*/
/*  position: absolute;*/
/*}*/

h2::first-letter {
    color: var(--color-primary-500);
}

mark {
    background-color: var(--color-primary-100);
    padding: 0 3px 3px 3px;
}

.md-border {
    position: relative;
    border: 2px solid var(--color-primary-500);
    padding: 5px;
    border-radius: 5px;
}

.md-border-title {
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
    background-color: var(--color-primary-500);
    color: white;
    padding-left: 5px;
    padding-right: 8px;
    padding-bottom: 2px;
    top: -5px;
    left: -5px;
    width: fit-content;
}