.layout-md {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.layout-lg {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
}

.layout-xl {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

.layout__container {
  display: flex;
  flex-direction: column;
}

.layout__center-section {
  width: 100%;
  padding: 0 0 2rem 0;
  border-bottom: 2px solid var(--color-divider);
}

.layout__left-section {
  width: 100%;
  display: none;
}

.layout__right-section {
  width: 100%;
  margin-top: 2rem;
}

@media (min-width: 1280px) {
  .layout__container {
    flex-direction: row;
  }

  .layout__center-section {
    width: 60%;
    padding: 0 1rem;
    border-bottom: none;
    border-right: 2px solid var(--color-divider);
    border-left: 2px solid var(--color-divider);
  }

  .layout__left-section {
    padding-right: 1rem;
    width: 20%;
  }

  .layout__right-section {
    width: 20%;
    padding-left: 1rem;
    margin-top: 0;
  }

  .layout__left-section {
    display: block;
  }
}
