/*TODO move all to tailwind*/
.post-preview {
    overflow: hidden;
}

.post-preview__subtitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
}

.post-preview:hover .post-preview__title {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

@media only screen and (min-width: 768px) {
    .post-preview__subtitle {
        -webkit-line-clamp: 3;
    }
}